body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, ::before, ::after{
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}